@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#nav {
  background-color: yellow;
}

#hero-image img {
  width: 100%;
}

#hero-text {
  color: #fff;
  position: absolute;
  top: 100px;
}

.browse-btn {
  color: #fff;
  border: 2px solid #fff;
}

.browse-btn:hover {
  background-color: #fff;
  color: black;
  border-color: #fff;
}

/* About section */

#about-section img {
  width: 100%;
}

/* Footer */
footer {
  background-color: yellow;
}

#footer-icons {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 22px;
  align-items: center;
}

.scale {
  width: 100%;
  height: 100%;
}