{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- About section -->
<section id="about-section" class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h3 class="pb-3">Who We Are</h3>
        <p>
          Hello and welcome to SoleHaven! We are a premium sneaker company founded with passion for street culture and a
          love for footwear. We began our journey with a simple but heartfelt vision - to provide everyone, regardless
          of your background with the most premium and sought-after footwear on one platform.
        </p>
        <h3 class="pb-3 pt-3">Our Mission</h3>
        <p>
          At SoleHaven, our mission is to curate the ultimate collection of streetwear footwear, bringing together
          iconic brands that define urban culture and style. We understand that streetwear is more than just clothing -
          it's a lifestyle, a movement, and a form of self-expression. Our mission is to be the destination where
          enthusiasts and trendsetters alike can discover the latest releases and timeless classics from the most
          coveted brands in the industry.
        </p>
        <p>
          With a relentless focus on authenticity and quality, we handpick each pair of shoes in our collection,
          ensuring that every step you take reflects your unique personality and taste. Our commitment to excellence
          extends beyond the products we offer; we aim to provide a seamless shopping experience that resonates with the
          energy and spirit of the streets. By celebrating the diversity and innovation within streetwear culture, we
          aspire to be more than just a retailer - we aim to be a catalyst for inspiration and connection within the
          global urban community.
        </p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'images/banner-image-2.jpg' %}" alt="image of streetwear shoes">
      </div>
    </div>
  </div>
</section>
{% endblock %}