{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" id="product_detail">
  <div class="row mb-5">
    <div class="col-6">
      <img src="{{ product.product_image.url }}" alt="{{ products.name }}" class="scale p-2">
    </div>
    <div class="col-6">
      <h3>{{ product.name }}</h3>
      <small>£{{ product.price }}</small>
      <hr>
      <select class="form-select" aria-label="Default select example">
        <option selected>Size</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <hr>
      <p>{{ product.description | safe }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <strong>
        <i class="fa-regular fa-comments"></i> {{ review_count }}
      </strong>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-12 text-center p-2">
      <h3>Reviews:</h3>
    </div>
  </div>
  <div class="row mb-4" id="user-reviews">
    <div class="col-12 col-md-5 card mx-auto">
      <div class="card-body">
        <!-- For loop to display reviews -->
        {% for review in reviews %}
        <blockquote class="mb-5">
          <p>{{ review.body | linebreaks }}</p>
          <footer class="blockquote-footer">{{ review.author }}</footer>
          <hr class="reviews">
        </blockquote>
        {% endfor %}
      </div>
    </div>
    <!-- Review Form -->
    <div class="col-12 col-md-5 card mx-auto">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Feel free to leave a review!</h3>
        <small>Customers will appreciate it!</small>
        <form id="reviewForm" method="post">
          {{ review_form | crispy }}
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {% else %}
        <p>Please login or register to leave a review</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}