{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5" id="product_detail">
  <div class="row mb-5">
    <div class="col-6">
      <img src="{{ product.product_image.url }}" alt="{{ products.name }}" class="scale p-2">
    </div>
    <div class="col-6">
      <h3>{{ product.name }}</h3>
      <small>£{{ product.price }}</small>
      <hr>
      <select class="form-select" aria-label="Default select example">
        <option selected>Size</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <hr>
      <p>{{ product.description | linebreaks }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <strong>
        <i class="fa-regular fa-comments"></i> {{ review_count }}
      </strong>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-12 text-center p-2">
      <h3>Reviews:</h3>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12 col-md-5 card mx-auto">
      <div class="card-body">
        <!-- For loop to display reviews -->
        {% for review in reviews %}
        <blockquote id="review{{ review.id }}" class="mb-3">
          {{ review.body | linebreaks }}
        </blockquote>
          <footer class="blockquote-footer">{{ review.author }}</footer>
          <!-- Checking if logged in user and review author are the same -->
          {% if user.is_authenticated and review.author == user %}
          <button class="btn btn-danger deleteButton" review_id="{{ review.id }}">Delete</button>
          <button class="btn btn-warning editButton" review_id="{{ review.id }}">Edit</button>
          {% endif %}
          <hr class="reviews mb-5">
        {% endfor %}
      </div>
    </div>
    <!-- Review Form -->
    <div class="col-12 col-md-5 card mx-auto">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Feel free to leave a review!</h3>
        <small>Customers will appreciate it!</small>
        <form id="reviewForm" method="post">
          {{ review_form | crispy }}
          {% csrf_token %}
          <button class="btn btn-primary" type="submit" id="submitButton">Submit</button>
        </form>
        {% else %}
        <p>Please login or register to leave a review</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Modal for delete confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete review?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your review?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}